body {background-color: #262626}
h1 {font-size: 40; color: #d1d1d1}
h2 {color: #d1d1d1}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
.t1 {
    margin-left: 100;
}
.t2 {
    margin-left: 500;
}
.t3 {
    margin-left: 500;
}


.c1 {
    margin-left: 100;
}
.c2 {
    margin-left: 200;
}
.c3 {
    margin-left: 363;
}

.flex-container {
    display: flex;
}